#view-container > .view.map {  
    xborder:1px solid red;
    xposition:relative;
    display:flex;
    flex-direction: column;
    xjustify-content: space-evenly;
    justify-content: start;
    height:100%;
    xwidth:100%;
}


#map-container {
    xborder:10px solid red;
    xbackground-color:green;
    width:100%;
    height:100%;
    overflow:scroll;
}


#map-container > #map {
    xbackground-color:orange;
    width:100%;
    height:100%;

    



}