
#view-container > .view.stats {  
    xborder:1px solid red;
    xposition:relative;
    display:flex;
    flex-direction: column;
    xjustify-content:baseline;
    xalign-items: start;
    xalign-content: center;
    justify-content: start;
    height:100%;
}



#equipment-container {
    xborder:1px solid red;
    width:100%;
    height:75%;
    xpadding:0px 10px 0px 10px;
    padding-top:20px;

    display:flex;
    flex-direction:column;
    justify-content: start;
    align-content: start;
    align-items: center;

}

#equipment-container > .slot {
    xborder: 2px solid rgb(0, 0, 0);
    xborder-radius: 5px;
    border-bottom:2px solid black;
    background-color:rgba(0,0,0,0.3);
    xbox-shadow:  rgba(0, 0, 0, 0.7) 3px 3px 5px 0px;

    xheight:100%;
    width:100%;
    xflex:1;

    xmargin-bottom: 5px;
    padding: 0px 0px 10px 15px;


    display:flex;
    xjustify-content: left;
    align-items: start;
    justify-items:start;
    flex-direction:column;
    
}

#equipment-container > .slot > .top-row {
    xborder:1px solid grey;
    width:100%;
    height:2em;
    xpadding-left:10px;
    padding: 0px 10px 0px 30px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    
}



#equipment-container > .slot >  .top-row > .name {
    xborder:1px solid grey;
    color:grey;
    xfont-family:consolas,monospace;
    xwidth:100%;
    xheight:2em;
    padding:0px;
}

#equipment-container > .slot > .mid  {
    xborder:1px solid orange;
    xheight:70%;
    width:100%;
    
    xpointer-events: none;
    display:flex;
    xjustify-content: center;
    align-items: left;
    flex: 1;
}


/* the area where the image is */
#equipment-container > .slot > .mid > .image-wrapper {
    xborder:1px solid grey;
    xheight:100%;
    xmargin-top:5px;
    width:25%;
    xaspect-ratio:1/1;
    xoverflow:hidden;
    xheight:4em;
    xheight:100%;
    xwidth:100%;
    xflex:1em;
 
    xpointer-events: none;
    xposition:relative;

    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: start;
}

#equipment-container > .slot > .mid >  .image-wrapper > .label {
    xborder:1px solid grey;
    color:grey;
    font-family:consolas,monospace;
    xwidth: 3em;
    font-size:1em;
    text-align:center;
    padding:5px 5px 5px 5px;
    xpadding:5px;
    letter-spacing: -3px;

    writing-mode: vertical-rl;
    text-orientation: upright;
    xtransform: rotate(-180deg);

    xwidth:100%;
    xheight:2em;
}

 

#equipment-container > .slot > .mid > .image-wrapper > .image-container {
    xpointer-events: none;
    xwidth:100%;
    xheight:100%;
    width:80%;
    xheight:80%;
    aspect-ratio: 1/1;
 

    background-color: #0f151b;
    xdisplay:flex;

    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0px 0px 0px 1px rgb(100, 100, 100), 0px 0px 0px 4px rgba(0, 0, 0, 1), inset 0px 0px 5px 5px rgba(0,0,0,0.5), /* vignette */ 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
    
    border-radius:5px;
}

#equipment-container > .slot > .mid > .image-wrapper > .image-container  > img.image {
    pointer-events: none;
    width:100%;
    height:100%;
    border-radius:5px;
}

#equipment-container > .slot > .mid > .effects {
    xborder:1px solid red;
    pointer-events: none;
    xwidth:100%;
    flex: 1;
    height:100%;
    xborder-radius:5px;
    color:rgb(202, 136, 50);
    xcolor:grey;
    padding: 10px 10px 5px 20px;
}




#player-stats-container {
    xborder:1px solid red;
    border-radius:5px;
    width:90%;
    height:25%;
    padding:10px;
    font-family:consolas,monospace;
    color:grey;
    background-color:rgba(0, 0, 0, 0.5);
    margin: 5px auto 0px auto;

    display:flex;
    flex-direction:column;
    xjustify-content: start;
    xalign-content: start;
    align-items: center;
}

#player-stats-container > .row {
    xborder:1px solid grey;
    width:100%;
    display:flex;
}

#player-stats-container > .row > div {
    xborder:1px solid grey;
    flex:1;
}

#player-stats-container > .row > .label {
    text-align:right;
    padding-right:5px;
    color: #928a70;
}