*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	zoom: reset;
    touch-action: manipulation;
}

a:link{ color:#6969ff; font-weight:bold;} 
a:visited{ color:#6969ff } 
a:hover{ color:#6969ff; } 
a:focus{ color: #16e980; } 
a:active{ color:#d4d365; } 

/* Disable double-click to zoom on links, input fields
   and buttons to improve responsiveness */
a, input, button, .button
{
    touch-action: manipulation;
}

html{
    touch-action: manipulation!important;
}
	
body{
	background-color:#2b2f34;
    background-color: black;  
	font-family: Arial;
    xoverflow-y: hidden;
	overflow-x: hidden;
	padding:0px;
	margin:0px;	
	width:100vw;
    height:100vh;
	zoom: reset;
    user-select:none;

    color:white;
}

.hidden {
    display:none!important;
}

#content {
    xborder:1px solid lime;
    background-color:#2b2f34;
    position:relative;
    width:100%;
    height:100%;
    xmax-width:400px;
    margin:auto;

    display:flex;
    flex-direction:column;
    xalign-items: end;
    justify-content:space-between ;
}

#border-layer {
    position:absolute;
    width:100%;
    height:100%;
    pointer-events: none;

    border-style: solid;
	border-image-source: url('../img/border.png');
	border-image-slice: 150;
	border-image-width: 3em;
	border-image-outset: 0;
	border-image-repeat: round;
    box-shadow: inset 0px 0px 10px 10px rgba(0,0,0, 0.8);
    border-radius:4em 4em 4em 4em;

    z-index: 1;
}

#view-container {
    xborder:1px solid orange;
    
    width:100%;
    height:85%;


}

#view-container > .view {
    xborder:1px solid orange;
    position:relative;
    width:100%;
    height:100%;
 
    display:flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('../img/gran.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}


.view.combat {
    xbackground-image: url('/img/brickwall.png');
    xbackground-size:cover;
    xbackground-position: center;;
    xbackground-repeat: no-repeat;
    xjustify-content: center;

    xheight:100%;
    xborder-bottom:10px solid red;
} 





